*{
	font-family: 'Raleway', medium;
}

@media screen and (max-width: 1000px) {
	#hphone , #pphone , #bphone {
		display: none;
		visibility: hidden;

	}
	#block1 {
		width: 100%;
	}
	#block2 {
		width: 0%;
	}
} 

header {
	background: linear-gradient(45deg, #64ff45, #ccffc4);
	color: #fff;
}
nav {
	margin-left: 9%;
}
header a {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}
.navbar-brand {
	font-size: 24px;
	text-transform: uppercase;
	transition: 1s;
}
.navbar-brand:hover {
	color: #fff;
	transform: scale(1.1);
}

header a:hover {
 	color: #c8feef;
}
header p {
	width: 90%;
	text-align: justify;
	font-size: 16px;
}

header h2 {
	text-transform: uppercase;
	margin-bottom: 3%;
}
.block1 {
	width: 60%;
}
.text-area {
	margin-left: 10%;
}

.navbottom {
	margin-top: 5%;
	display: flex;
}

.dw {
	background-color:#e1fdff;
	color: #82ff69;
	font-size: 20px;
}

.rm {
	border-color: #e1fdff;
	margin-left: 5%;
	color:#e1fdff;
	font-size: 20px;

}

.dw:hover {
	border-color: #e1fdff;
	color:#e1fdff;
	background-color: transparent;
}

.rm:hover{
	background-color:#e1fdff;
	color: #82ff69;
}
.about-app {
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	margin-bottom: 5%;
}
.appheader {
	display: flex;
	justify-content: space-around;
}
.aboutheader h1 {
	text-align: center;
	text-transform: uppercase;
}

.appbody {
	display: flex;
	justify-content: space-around;
}
.aboutbody {
	margin-top: 5%;
	display: flex;
}
.aboutbody p {
	text-align: justify;
	margin-left: 5%;
}

.imgcont {
	width: 40%;
}
.feauters {
	background-color: #f4f4f4;
	background: #f4f4f4;
	display: flex;
	flex-direction: column;
	padding-bottom: 5%;
}

.ftrs-header {
	margin-top: 5%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 5%;
}

.fts-header {
	text-align: center;
}
.fts-header  h6 {
	color: #646464;
}

.ftr-body {
	display: flex;
	justify-content: space-between;
}	

.imagecont {
	display: flex;
	justify-content: space-around;
}

.download {
	padding-top: 5%;
	background: linear-gradient(45deg, #64ff45, #ccffc4);
	padding-bottom: 5%;
}
.dnld-header {
	display: flex;
	justify-content: space-around;
}
.download-header h1{
	text-align: center;
}

img.dwnl {
	width: 400px;
	height: 324px;
}

.pres-header {
	display: flex;
	justify-content: space-around;
}

.pres-header h1 {
	text-align: center;
	text-transform: uppercase;
}

.pres-body {
	padding-top: 5%;
	background-color: #f4f4f4;
	padding-bottom: 5%;
}
.content {
	display: flex;
	justify-content: space-around;
}
.pres-body h1{
	margin-top: 5%;
	text-align: center;
}
.pres-body p {
	margin-top: 5%;
	text-align: justify;
}

.presentation {
	padding-top: 5%;
}

.cnt-header {
	padding-top: 10%;
	display: flex;
	justify-content: space-around;
}

.cnt-header h1{
	text-align: center;
}


.group2 {
	padding-bottom: 15%;
}
.contact-body {
	margin-top: 10%;
}
.contact {
	background: linear-gradient(45deg, #64ff45, #ccffc4);
}